<section class="hero is-medium is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <h1>Welcome, {{user.name}}!</h1>
        <p>Email: {{user.email}}</p>
      </h1>
      <h2 class="subtitle">
        Share your pet's moments with the world
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <figure class="image is-4by3">
        </figure>
      </div>
      <div class="column is-half">
        <div class="box">


<h2>My Posts</h2>

{{#if posts.length}}
<ul>
    {{#each posts}}
    <li>
        <h3>{{this.title}}</h3>
        <p>{{this.content}}</p>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No Posts Found</p>
{{/if}}